RewriteEngine On
RewriteRule ^$ /n/lib [R]
RewriteRule ^(release\/)?(v|mbn(\.min)?\.(js|php))(.*)$ /n/lib/$2$5 [R]
RewriteRule ^(.*)\/$ /n/$1 [R]

RewriteRule ^lib(\/(.*))?$ index.php?gf=$2
RewriteRule ^calc$ calc.php
