body {
    font-family: sans-serif;
    line-height: 1.4em;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#topBar {
    line-height: 50px;
    position: fixed;
    width: 100%;
    padding: 0 12px;
    border-radius: 0;
    background-color: lightgray;
    margin: 0;
    border-bottom: 1px solid gray;
}

#topBar span {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}

#topBar a {
    color: black;
    display: inline-block;
}

#scroller {
    padding-top: 60px;
    overflow-y: auto;
    margin: 0;
}

#scroller > ul {
    padding-bottom: 2px;
    margin: 0;
}

pre, div {
    border-radius: 2px;
    padding: 2px 5px;
    margin: 0;
    font-size: 1em;
}

.anchor {
    position: absolute;
    margin-top: -50px;
}

.title1 {
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
}

.title2 {
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: bold;
    border-left: 2px solid gray;
}

.title3 {
    font-size: 1.2em;
}

.monoInline {
    font-family: "Consolas", monospace;
    color: dimgray;
    font-weight: bold;
    background-color: whitesmoke;
}

pre, div.mono {
    font-family: "Consolas", monospace;
    background-color: lightgray;
    border: 1px solid gray;
    white-space: pre-wrap;
}

span.lb:after {
    color: gray;
    content: ">| ";
}

.mono span.it {
    font-style: italic;
    color: gray;
}

.result {
    font-family: "Consolas", monospace;
    border: 1px solid gray;
    display: inline-block;
    font-weight: bold;
    margin-right: 0;
    border-radius: 2px 0 0 2px;
}

.label {
    font-family: "Consolas", monospace;
    border: 1px solid gray;
    display: inline-block;
    margin-left: 0;
    border-radius: 0 2px 2px 0;
    border-left: 0;
}

table {
    border: 1px solid gray;
    width: 100%;
    border-radius: 2px;
    border-spacing: 0;
}

table tr:nth-child(odd) {
    background-color: lightgray;
}

table td, table th {
    width: calc(100% / 6);
    font-family: "Consolas", monospace;
    padding: 4px;
    border-left: 1px solid gray;
}

table th:first-child, table td:first-child {
    border-left: 0 solid gray;
}

table tr.hidden {
    display: none
}

body.dark {
    background-color: #000;
    color: #ccc;
}

body.dark pre,
body.dark div.mono,
body.dark table tr:nth-child(2n+1),
body.dark #topBar {
    background-color: #333;
}

body.dark .monoInline {
    background-color: #222;
    color: #aaa;
}

body.dark a {
    color: #46e
}

body.dark a:visited {
    color: #c3c
}

body.dark #topBar a {
    color: #ccc;
}
